.banner {
    background: #000000 url(../../img/BG.jpg) no-repeat top center;
    background-size: cover;
    height: 800px;
}

.title {
    width: 50%;
    height: 50%;
}

.title h1 {
    font-size: 80px;
    position: relative;
    top: 300px;
    color: white;
}