.send-email {
    margin-top: 50px;
    margin-bottom: 100px;
}

.send-email button {
    background-color: #3baece;
    border: #fff;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

