<Animate Animation="Animations.SlideLeft" DurationMs="1000">
    <div class="container banner one">
        <div class="row">
            <div class="col-12">
                <h1>Banner</h1>
                <a href="/about" class="btn btn-primary btn-lg button" title="Sobre">Sobre</a>
            </div>
        </div>
    </div>
</Animate>

@code {

}
