<div class="container-fluid banner">
    <div class="row">
        <div class="col-6">
            <Animate Animation="Animations.SlideLeft" DurationMs="1000">
                <h1>Lorem ipsum dolor sit amet</h1>
            </Animate>
        </div>
    </div>
</div>
