<div>
    <div class="content-text">
        <Animate Animation="Animations.SlideUp" DurationMs="1000">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim sodales ut eu sem. Praesent elementum facilisis leo vel fringilla est. Arcu risus quis varius quam quisque id diam vel quam. In iaculis nunc sed augue lacus viverra vitae congue. Viverra nibh cras pulvinar mattis nunc. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Bibendum neque egestas congue quisque egestas diam in arcu. Ipsum faucibus vitae aliquet nec ullamcorper. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Augue eget arcu dictum varius. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Sed faucibus turpis in eu mi bibendum neque egestas congue. In cursus turpis massa tincidunt. Velit sed ullamcorper morbi tincidunt ornare massa eget. Duis ut diam quam nulla porttitor massa id. Id interdum velit laoreet id donec ultrices tincidunt arcu non.
            </p>
        </Animate>
    </div>
    <div class="content-text second">
        <Animate Animation="Animations.SlideDown" DurationMs="1000">
            <p>
                Faucibus ornare suspendisse sed nisi lacus sed. Purus ut faucibus pulvinar elementum integer enim. Tristique et egestas quis ipsum suspendisse ultrices gravida. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Accumsan tortor posuere ac ut consequat semper viverra nam. Et pharetra pharetra massa massa. Sit amet justo donec enim diam. Leo in vitae turpis massa sed. Eget mi proin sed libero enim. Aliquet lectus proin nibh nisl condimentum id venenatis a. Ullamcorper malesuada proin libero nunc consequat interdum varius sit. Volutpat sed cras ornare arcu dui. Ultrices in iaculis nunc sed augue lacus viverra. Tempus imperdiet nulla malesuada pellentesque.
            </p>
        </Animate>
    </div>
</div>