<header>
    <div class="container">
        <div class="row justify-content-end">
                    <div class="navbar-header">
                        <ul class="header-menu">
                            <li>
                                <a class="navbar-brand" href="/about" title="About us">About us.</a>
                            </li>
                            <li>
                                <button type="button" class="go-to" data-anchor="target-contact">Contact.</button>
                            </li>
                        </ul>
                    </div>
        </div>
    </div>
</header>
